@use "./variables" as v;
//--------------------------

.main-header {
  width: 100%;
  max-width: 1440px;
  padding: 40px 20px;
  margin: auto;

  @media (min-width: 1440px) {
    padding: 40px 100px;
  }

  img {
    width: 268px;
    height: auto;
    display: block;
    margin: auto;
  }
}

.search-form {
  position: relative;
  margin: 20px 0;

  input {
    width: 100%;
    height: 69px;
    padding: 0 20px;
    font-size: 1.5rem;
    background: v.$light-grey;
    border: none;
    border-radius: 5px;
    &::placeholder {
      opacity: 0.25;
      text-overflow: ellipsis !important;
    }
  }

  button {
    position: absolute;
    right: 17px;
    top: 2px;
    height: 65px;
    font-size: 1.8rem;
    background: v.$light-grey;
    border: none;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
    }
  }
}

.labels {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;

  button {
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 0 10px 10px 0;

    &:hover {
      cursor: pointer;
    }

    span {
      margin-left: 10px;
    }
  }
}

.label.ing {
  background: v.$primary-color;
}

.label.app {
  background: v.$secondary-color;
}

.label.ust {
  background: v.$tertiary-color;
}

.filters {
  &-elt {
    display: inline-block;
    height: 69px;
    width: 100%;
    position: relative;
    margin: 0 0 10px 0;
    border-radius: 5px;

    &:nth-child(2) {
      @media (min-width: 600px) {
        margin-left: 20px;
        margin-right: 20px;
      }
    }

    @media (min-width: 600px) {
      width: 170px;

      &.scaled {
        width: 600px;
      }
    }

    input {
      height: 69px;
      width: 100%;
      border: none;
      border-radius: 5px;
      color: #fff;
      font-size: 1.1rem;
      font-weight: 500;
      padding: 0 40px 0 10px;

      &:hover {
        cursor: pointer;
      }

      &::placeholder {
        color: #fff;
      }
    }

    &:nth-child(1) {
      background: v.$primary-color;

      & > div,
      & > input {
        background: v.$primary-color;
      }

      li:hover {
        background-color: darken(v.$primary-color, 20%);
      }
    }

    &:nth-child(2) {
      background: v.$secondary-color;

      & > div,
      & > input {
        background: v.$secondary-color;
      }

      li:hover {
        background-color: darken(v.$secondary-color, 20%);
      }
    }

    &:nth-child(3) {
      background: v.$tertiary-color;

      & > div,
      & > input {
        background: v.$tertiary-color;
      }

      li:hover {
        background-color: darken(v.$tertiary-color, 20%);
      }
    }

    span {
      position: absolute;
      display: block;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.5rem;
      color: #fff;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .filters-all {
    width: 100%;
    position: absolute;
    z-index: 5;
    left: 0;
    top: 65px;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    display: none;

    ul {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
    }
  }

  li {
    margin-bottom: 5px;
    padding: 5px 10px;
    transition: background-color 0.3s;
    border-radius: 15px;
  }

  a {
    display: block;
    width: 120px;
    height: 100%;
  }
}

.filter-tag {
  color: #fff;
}

.filters-all.open {
  display: block;
}
