@use "./variables" as v;
//--------------------------

.recipes {
  width: 100%;
  max-width: 1440px;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;

  @media (min-width: 1440px) {
    justify-content: space-between;
    padding: 0 100px;
  }
}

.recipe {
  width: 100%;
  max-width: 380px;
  border-radius: 5px;
  margin: 0 20px 50px 20px;
  align-self: stretch;
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  }

  @media (min-width: 1440px) {
    margin: 0 0 50px 0;
  }

  a {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &-img {
    width: 100%;
    height: 178px;
    background: v.$dark-grey;
    border-radius: 5px 5px 0 0;
  }

  &-data {
    padding: 20px;
    background: v.$light-grey;
    border-radius: 0 0 5px 5px;
    flex-grow: 1;

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 1.2rem;
      font-weight: 400;
    }

    strong {
      font-weight: 700;
    }
  }

  &-time {
    font-size: 1.2rem;
    font-weight: 700;
  }

  &-category {
    display: -webkit-box;
    width: 50%;
    overflow: hidden;
    vertical-align: top;
    font-size: 0.8rem;
    padding-right: 5 px;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    float: left;
  }
}

.result {
  text-align: center;
  font-size: 1.2rem;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
