//--------------------------
$primary-color: rgb(50, 130, 247) !default;
$secondary-color: rgb(104, 217, 164) !default; 
$tertiary-color: rgb(237, 100, 84) !default;
//--------------------------
$light-grey: rgb(231, 231, 231);
$dark-grey: rgb(199, 190, 190);

// Text
$base-font-size: 16px !default;
